

<app-nav></app-nav>


<div class="container">
    <div class="row">
        <div class="col" *ngFor="let i of products">
            <div class="card" style="width: 18rem;">
                <img src="{{i.image}}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{i.product_name}}</h5>
                  <p class="card-text">{{i.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{i.quantity}}</li>
                  <li class="list-group-item">{{i.price}}</li>
                  <li class="list-group-item">{{i.category}}</li>
                  <!-- <li class="list-group-item">{{i.rating.rate}}</li> -->
                </ul>
                <div class="card-body">
                  <a  class="card-link btn btn-info" (click)="redirectToDetail(i.id)">View product</a>
                  
                </div>
              </div>
        </div>
    </div>

</div>
