
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                        class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" routerLink="user"
                        class="tab">Sign Up</label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <form action="">
                                <div class="group">
                                    <label for="user" class="label">Username</label>
                                    <input id="user" type="text" class="input" placeholder="username"
                                        formControlName="username" required>
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Password</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="password" formControlName="password" required>
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Sign In">
                                </div>
                                <div class="hr"></div>
                                <div class="foot-lnk">
                                    <a href="#forgot">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                        <div class="sign-up-htm">
                            <form action="" [formGroup]="form2" (ngSubmit)="getRegistrationdata()">


                                <div class="group">
                                    <label for="user" class="label">first_name</label>
                                    <input id="user" type="text" class="input" placeholder="first_name"
                                        formControlName="first_name" required>
                                </div>

                                <div class="group">
                                    <label for="user" class="label">Last_name</label>
                                    <input id="user" type="text" class="input" placeholder="last_name"
                                        formControlName="last_name" required>
                                </div>

                                <div class="group">
                                    <label for="pass" class="label">email</label>
                                    <input id="pass" type="text" class="input" placeholder="email"
                                        formControlName="email" required>
                                </div>


                                <div class="group">
                                    <label for="user" class="label">username</label>
                                    <input id="user" type="text" class="input" placeholder="username"
                                        formControlName="username" required>
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">password</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="password" formcontrolName="password" required>
                                </div>


                                <div class="group">
                                    <input type="submit" class="button" value="Sign Up">
                                </div>
                                <!-- <div class="hr"></div> -->
                                <!-- <div class="foot-lnk"> -->

                                <!-- </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

